
@{
  
}

<main class="vh-100">
    
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Todo</h1>
        <p class="lead">Todo is a free web App designed to assist you in managing your Tasks.</p>
        <p><a href="Account/Login" class="btn btn-primary btn-md">Getting Started &raquo;</a></p>
    </section>
    
        <div class="row">
            <section class="col-md-4" aria-labelledby="ContactUsTitle">
                <h2 id="gettingStartedTitle">Contact Us</h2>
                <p>
                    Todo helps streamline productivity by allowing you to create to-do lists, offering a user-friendlt interface for efficient task management
                </p>
                <p><a class="btn btn-outline-dark" href="Home/Contact">Contact Us! &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="AboutTitle">
                <h2 id="gettingStartedTitle">About Us</h2>
                <p>
                    Todo helps streamline productivity by allowing you to create to-do lists, offering a user-friendlt interface for efficient task management
                </p>
                <p><a class="btn btn-outline-dark" href="Home/About">About Us! &raquo;</a></p>
            </section>
        </div>
</main>